# React Native
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
